.header__account {
    display: flex;
    align-items: center;
}
.header__account__acc {
    display: flex;
    align-items: center;
}
.header__account__img {
    height: 100%;
    margin-right: 10px;
}
.header__account__name a{
    font-size: 18px;
    color: #47A8E5;
}
.header__account__logout {
    margin-left: 15px;
}
.header__account__logout a{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}
.header__account__img{
    height: 30px;
}
.header__account__logout-img img{
    height: 100%;
    margin-right: 10px;
    height: 30px;
}
.header__account__logout-text {
    font-size: 18px;
    color: #081534;
}