.product_wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
    padding: 15px;
}
.product__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__navigation {
}
.product__number {
    display: flex;
    align-items: center;
}
.product__content_wrapper {
    display: flex;
    justify-content: space-between;
}
.product_gallery_wrapper {
    width: 48%;
    background-color: cornflowerblue;
}
.product_desc_wrapper {
    width: 48%;
    background-color: bisque;
}
.recomendation__wrapper {
    width: 80%;
    margin: 0 auto;
}