.account_wrapper {
    width: 80%;
    margin: 0 auto;
    
}
.account__page_name {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account__page_name p {
    display: block;
    font-size: 28px;
    font-weight: 500;
    color: #081534;
}
._border_block{
    margin-top: 10px;
    border-bottom: 2px solid #47a8e5; 
    width: 5%;
}
.account__cotainer {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-top: 25px;
    padding: 45px 50px 50px 50px;
    display: flex;
    justify-content: space-between;


}
.accont_favorite_container {
    flex: 0 0 35%;
    border-right: 2px solid #47a8e5;
    display: flex;
    flex-direction: column;
}
.account__block {
    display: flex;

}
.account__photo {
}
.account__desc {
    margin-left: 30px;
    padding-top: 7px;
}
.account__name {
    font-size: 22px;
    color: #081534;
}
.account__settings {
    padding-top: 8px;
    color: #c1c1c1;
    font-size: 17px;
}
.account__settings:first-child {
    padding-top: 15px;
}
.favorites__block {
    margin-top: 15px;
}
.favorite__name {
    display: flex;
    align-items: center;

}
.favorite__name p {
    display: block;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 500;
}
.favorite__element_wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    height: 100%;
    overflow: auto;
}
.favorite__element {
    margin-top: 25px;
    display: flex;
    max-height: 125px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;   
    width: 100%; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.favorite__element a {
    display: flex;
    max-height: 125px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;   
    width: 100%; 
}
.favorite__element_img {
    width: 39%;
}
.favorite__element_desc_block {
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.favorite__element_price {
    font-size: 22px;
    color: #081534;
    font-weight: 500;
}
.favorite__element_type {
    color: #4b546a;
    font-size: 18px;
    margin-top: 5px;
}
.favorite__element_size {
    color: #4b546a;
    font-size: 18px;
    margin-top: 4px;
}
.favorite__element__data {
    color: #c1c1c1;
    font-size: 14px;
    margin-top: 15px;
}
.favorite__element_bookmark {
    position: absolute;
    right: 15px;
    top: 10px;
}
.account__elements_block {
    flex: 0 0 60%;
}
.account__elements_desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account__elements_desc-name {
    font-size: 24px;
    color: #081534;
}
.account__elements_desc-bullet {

    display: flex;
    align-items: center;
    color: #081534;
}
.account__elements__wrapper {
    width: 100%;
    height: 100%;

    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-top: 25px;
    margin-bottom: 35px;
}

.customize_svg img{
    height: 25px;
    width: 25px;
}
.element_image {
    position: relative;
}
.element_image-img {
}
.element_status {
    position: absolute;
    width: 40px;
    height: 40px;

    right: 1%;
    top: 1%;
}
.element_status img {
    width: 100%;
}