
.add_buisness_wrapper {
    width: 80%;
    margin: 0 auto;
}
.add_buisness_name {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #081534;
    margin-bottom: 25px;
}
.add_buisness_container {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 25px;
    padding: 30px 10px 30px 10px;
}
.add_buisness_container form {
    width: 100%;
}
.add_buisness_container_wrapper {
    display: flex;
    justify-content: space-evenly;
}
.add_buisness_container_1 {
    width: 45%;

}
.add_buisness__element {
    margin-bottom: 21px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add_buisness__element{

}
.add_buisness__element-desc {
    width:30%;

    font-size: 20px;
    color: #081534;
    font-weight: 500;
}
.add_buisness__element-input {
    width: 60%;
}
.add_buisness__element-input input{
    width: 100%;
    border-radius: 30px;
    height: 100%;
    border: 2px solid #47A8E5;
    font-size: 20px;
    color: #081534;
    background-color: #fff;
    border: 2px solid #47A8E5;
    padding: 8px 16px;
}
.add_buisness__element-mapblock{
    align-items: flex-start;
}
.add_buisness__element-map{
    border-radius: 18px;
    height: 180px;
    width: 60%;
    background-color: blue;
}
.add_buisness__element-input textarea{
    max-width: 100%;
    min-width: 100%;
    border: 2px solid #47A8E5;
    font-size: 16px;
    padding: 5px;
    border-radius: 18px;
    height: 180px;
}
.add_buisness_container_1:last-child .add_buisness__element:last-child{
    align-items: flex-start;
}
.custom-select_city {
}
.add_buisness_photo_add{
    width: 60%;
    display: flex;
}
.add_buisness_photo_add1{
    width: 25%;
    position: relative;
}
.add_buisness_photo_add1 img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
.add_buisness_photo_add-input{
    display: block;
    width: 99.9%;
    height: 80px;
    background-image: url('./style/imgs/add.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: none;
    border: none;
    color: rgba(0, 0, 0, 0);
    appearance: initial;
    text-indent: -999em;
        outline: none;
}
.custom-select_goal {
}
.custom-select_category {
}
.custom-select_fealliet {
}
.add_buisness_container-button{
    width: 100%;
    text-align: center;
}
.add_buisness_container_text{
    font-weight: 500;
}
.add_buisness_container-button button{
    background-color: #FFDE5A;
    height: 100%; 
    font-size: 20px;   
    padding: 9px 65px 9px 65px;
    border-radius: 30px;
    font-weight: 500;
    
}
/**************Стили варианта выбора города*****************/
/**************Стили варианта выбора города*****************/
/**************Стили варианта выбора города*****************/
/**************Стили варианта выбора города*****************/
/**************Стили варианта выбора города*****************/
/*the container must be positioned relative:*/
.custom-select_city {
    position: relative;
    font-family: Arial;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        border: 2px solid #47A8E5;
  }
  
  .custom-select_city select {
    display: none; /*hide original SELECT element:*/
      border-radius: 30px;
      border: 2px solid #47A8E5;

  }
  
  .select-selected_city {

      border-radius: 30px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      color: #081534;
      background-color: #fff;
      border: 2px solid #47A8E5;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected_city:after {
    position: absolute;
    content: "";
    top: 19px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #081534 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected_city.select-arrow-active_city:after {
    border-color: transparent transparent #081534 transparent;
    top: 13px;
    border-radius: 15px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items_city div,.select-selected_city {

    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;

  }
  
  /*style items (options):*/
  .select-items_city {
    position: absolute;
    background-color: #fff;
    color: #081534;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide_city {
    display: none;
  }
  
  .select-items_city div:hover, .same-as-selected_city {
    background-color: rgba(0, 0, 0, 0.1);
  }




/**************Стили цели продажи******************/
/**************Стили цели продажи******************/
/**************Стили цели продажи******************/
/**************Стили цели продажи******************/
/**************Стили цели продажи******************/
/*the container must be positioned relative:*/
.custom-select_goal {
    position: relative;
    font-family: Arial;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        border: 2px solid #47A8E5;
  }
  
  .custom-select_goal select {
    display: none; /*hide original SELECT element:*/
      border-radius: 30px;
      border: 2px solid #47A8E5;

  }
  
  .select-selected_goal {

      border-radius: 30px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      color: #081534;
      background-color: #fff;
      border: 2px solid #47A8E5;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected_goal:after {
    position: absolute;
    content: "";
    top: 19px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #081534 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected_goal.select-arrow-active_goal:after {
    border-color: transparent transparent #081534 transparent;
    top: 13px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items_goal div,.select-selected_goal {

    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items_goal {
    position: absolute;
    background-color: #fff;
    color: #081534;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide_goal {
    display: none;
  }
  
  .select-items_goal div:hover, .same-as-selected_goal {
    background-color: rgba(0, 0, 0, 0.1);
  }




/**************Стили цели продажи******************/
/**************Стили цели продажи******************/
/**************Стили цели продажи******************/
/**************Стили цели продажи******************/
/**************Стили цели продажи******************/
/*the container must be positioned relative:*/
.custom-select_category {
    position: relative;
    font-family: Arial;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        border: 2px solid #47A8E5;
  }
  
  .custom-select_category select {
    display: none; /*hide original SELECT element:*/
      border-radius: 30px;
      border: 2px solid #47A8E5;

  }
  
  .select-selected_category {

      border-radius: 30px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      color: #081534;
      background-color: #fff;
      border: 2px solid #47A8E5;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected_category:after {
    position: absolute;
    content: "";
    top: 19px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #081534 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected_category.select-arrow-active_category:after {
    border-color: transparent transparent #081534 transparent;
    top: 13px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items_category div,.select-selected_category {

    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items_category {
    background-color: #fff;
    color: #081534;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide_category {
    display: none;
  }
  
  .select-items_category div:hover, .same-as-selected_category {
    background-color: rgba(0, 0, 0, 0.1);
  }


/**************Стили цели fealliyet******************/
/**************Стили цели fealliyet******************/
/**************Стили цели fealliyet******************/
/**************Стили цели fealliyet******************/
/**************Стили цели fealliyet******************/
/*the container must be positioned relative:*/
.custom-select_fealliet {
    position: relative;
    font-family: Arial;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        border: 2px solid #47A8E5;
  }
  
  .custom-select_fealliet select {
    display: none; /*hide original SELECT element:*/
      border-radius: 30px;
      border: 2px solid #47A8E5;

  }
  
  .select-selected_fealliet {

      border-radius: 30px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      color: #081534;
      background-color: #fff;
      border: 2px solid #47A8E5;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected_fealliet:after {
    position: absolute;
    content: "";
    top: 19px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #081534 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected_fealliet.select-arrow-active_fealliet:after {
    border-color: transparent transparent #081534 transparent;
    top: 13px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items_fealliet div,.select-selected_fealliet {

    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items_fealliet {
    background-color: #fff;
    color: #081534;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide_fealliet {
    display: none;
  }
  
  .select-items_fealliet div:hover, .same-as-selected_fealliet {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media only screen and (max-width: 1201px){
    .add_buisness__element-input{
      width: 70%;
    }
  }
  @media only screen and (max-width: 1001px){
    .add_buisness_container{
      padding: 15px 10px 15px 10px;
    }
  }
  @media only screen and (max-width: 769px){
    .add_buisness_wrapper{
      width: 95%;
    }
    .add_buisness__element-desc{
      font-size: 18px;
    }
    .add_buisness_container{
      padding: 15px 10px 15px 10px;
    }
    .add_buisness__element-map{
      width: 70%;
    }
    .add_buisness_container_text{
      margin-bottom: 15px;
    }
    .add_buisness_container_wrapper{
      flex-direction: column-reverse;
    }
    .add_buisness_container_1{
      width: 90%;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 426px){
    .add_buisness_container_1{
      width: 100%;

    }
    .add_buisness_container{
      padding: 20px 15px 20px 15px;
    }

  }
  @media only screen and (max-width: 326px){
    .add_buisness__element-desc{
      font-size: 16px;
    }
    .custom-select_category option{
      font-size: 16px;
    }

  }