/**********Блок элемента на странице*************/
/**********Блок элемента на странице*************/
/**********Блок элемента на странице*************/

.elelement__block {
    margin-top: 45px;
    height: 32.75em;
    width: 22em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;

}
.elelement__block a {
    color: rgb(8, 21, 52);
    height: 100%;
}
.element_wrapper {
    height: 100%;
    width: 100%;
    position: relative;

}
.element_image {
    border-radius: 18px 18px 0px 0px;
    height: 19.625em;
    overflow: hidden;
}
.element_image-img {
    width: 100%;
}
.element__bookmark {
}
.element__content {

    height: 13.1em;
    width: 100%;
}
.element__content_wrapper {
    width: 100%;
    height: 100%;

    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.element__price_additional_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.element_type_price {

}
.element__price {
    font-size: 24px;
    font-weight: 600;
}
.element__type {
    padding-top: 5px;
    font-size: 20px;
    color: rgb(80, 89, 111);
}
.element__date {
    padding-top: 4px;
    font-size: 15px;
    color: rgb(193, 193, 193);
}
.verified_top {

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.verified_img {
    width: 100%;
    display: flex;
    justify-content: end;
}
.verified_img img{
    width: 20px;
}
.top_img- {
    width: 100%;
    display: flex;
    justify-content: end;
}
.top_img- img {
    width: 27px
}
.percentage__income {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    color: rgb(8, 21, 52);
    font-size: 20px;
    font-weight: 500;
}
.percentage_block {
    width: 40%;
    border-right: 2px solid rgb(71, 168, 229);
}
.percentage_block_type {

}
.percentage_block_percent {
    padding-top: 5px;
}
.month_income {
    width: 48%;
    text-align: center;
}
.month_income_desc {
}
.month_income_price {
    padding-top: 5px;
}
/***********************************/
/***********************************/
/***********************************/
@media only screen and (max-width:1620px){
    .element_image{
        height: 17em;
    }
    .elelement__block {

        margin-top: 55px;
        height: calc(32.75em - 5%);
        width: 48%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 18px;
        overflow: hidden;
        margin-bottom: 35px;
    
    }
}
@media only screen and (max-width:1450px){
    .elelement__block {

        margin-top: 55px;
        height: calc(32.75em - 9%);
        width: 48%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 18px;
        overflow: hidden;
        margin-bottom: 35px;
    
    }
    .elelement__block a {
        color: rgb(8, 21, 52);
        height: 100%;
    }
    .element_wrapper {
        height: 90%;
        width: 100%;

    
    }
    .element_image {
        height: calc(19.625em - 7%);
        overflow: hidden;
    }
    .element_image-img {
        width: 100%;
    }
    .element__bookmark {
    }
    .element__content {
    
        height: calc(13.1em - 3.5%);
        width: 100%;
    }
    .element__content_wrapper {
        width: 100%;
        height: 100%;
    
        padding: 12px 15px 12px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .element__price_additional_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .element_type_price {
    
    }
    .element__price {
        font-size: 24px;
        font-weight: 600;
    }
    .element__type {
        padding-top: 5px;
        font-size: 20px;
        color: rgb(80, 89, 111);
    }
    .element__date {
        padding-top: 4px;
        font-size: 15px;
        color: rgb(193, 193, 193);
    }
}
@media only screen and (max-width: 1368px){
    .elelement__block {

        margin-top: 45px;
        height: calc(32.75em - 14%);
        width: 48%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 18px;
        overflow: hidden;
        margin-bottom: 35px;
    
    }
    .elelement__block a {
        color: rgb(8, 21, 52);
        height: 100%;
    }
    .element_wrapper {
        height: 90%;
        width: 100%;

    
    }
    .element_image {
        height: calc(19.625em - 14%);
        overflow: hidden;
    }
    .element_image-img {
        width: 100%;
    }
    .element__bookmark {
    }
    .element__content {
    
        height: calc(13.1em - 5.5%);
        width: 100%;
    }
    .element__content_wrapper {
        width: 100%;
        height: 100%;
    
        padding: 12px 15px 12px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .element__price_additional_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .element_type_price {
    
    }
    .element__price {
        font-size: 24px;
        font-weight: 600;
    }
    .element__type {
        padding-top: 5px;
        font-size: 20px;
        color: rgb(80, 89, 111);
    }
    .element__date {
        padding-top: 4px;
        font-size: 15px;
        color: rgb(193, 193, 193);
    }
}
@media only screen and (max-width: 769px){
    .element_image {
        border-radius: 18px 18px 0px 0px;
        height: 15.625em;
        overflow: hidden;
    }
}
@media only screen and (max-width: 355px){
    .month_income_price{
        font-size: 7px;
    }
    .element__content_wrapper {
        width: 100%;
        height: 100%;
    
        padding: 3px 5px 9px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}