.advertisement__block {

    text-align: center;
}
.contact__wrapper{
    margin: 0 auto;
    width: 80%;
}
.contact__desc {
}
.contact__container {
}
.contact__block__desc {
}
.contact__block__desc_name {
}
.contact__block__desc_text {
}
.contact__block_form_button {
}