.login_registration_mainwrapper {
    width: 80%;
    margin: 0 auto;
}
.login_registration_container {
    width: 100%;
}
.login__registration_pc_name {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.login_reg_pc_name_block {
    width: 50%;
    text-align: center;
    color: rgb(8, 21, 52);
    font-size: 20px;
    font-weight: 500;
}
.login__registration_wrapper {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.login__container_form {
    width: 40%;
}
.login__container_form-form {
    width: 100%;

}
.log_reg_element__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: rgb(8, 21, 52);
    margin-top: 20px;
}
.log_reg_element__wrapper:first-child{
    margin-top: 0px;
}
.log_reg_element_wraper_desc {
    font-size: 16px;
    font-weight: 500;
    width:20%;
    padding-left: 5px;
}
.log_reg_element_wraper_input {

    border: 2px solid #47A8E5;
    width: 80%;
    padding: 9px 15px 9px 15px;
    border-radius: 25px;
}
.log_reg_element_wraper_input-input {
    width: 100%;
    font-size: 16px;
}
.submit_login_wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.submit_login_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin-top: 23px;
}
.submit_login_container a{
    font-size: 16px;
    font-weight: 500;
    color: rgb(8, 21, 52);
    margin-bottom: 10px;
}
.submit_login_container-button {
    font-size: 16px;
    font-weight: 500;
    color: rgb(8, 21, 52);
    background-color: #FFDE5A;
    padding: 10px;
    border-radius: 25px;
}
.registration__container_form {
    width: 40%;
}
.registration__container_form-form {
}
.login_onlymobile_name{
    display: none;
    visibility: hidden;
}
.required__field_login{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: red;
}
@media only screen and (max-width: 1368px){
    .log_reg_element_wraper_input{
        width: 60%;
    }
}
@media only screen and (max-width: 769px){
    .log_reg_element__wrapper{
        flex-direction: column;
    }
    .log_reg_element_wraper_desc{
        width: 100%;
            margin-bottom: 5px;
    }
    .log_reg_element_wraper_input{
        width: 100%;
    }
    .submit_login_container {
        width: 100%;
    }
    .login__container_form{
        width: 48%;
    }
    .registration__container_form{
        width: 48%;
    }
}
@media only screen and (max-width: 426px){
    .login_onlymobile_name{
        display: block;
        visibility: visible;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 18px;
    }
        .login__registration_pc_name{
            display: none;
            visibility: hidden;
        }
        .login__registration_wrapper{
            flex-direction: column;
        }
        .log_reg_element__wrapper{
            flex-direction: column;
        }
        .log_reg_element_wraper_desc{
            width: 100%;
                margin-bottom: 5px;
        }
        .log_reg_element_wraper_input{
            width: 100%;
        }
        .submit_login_container {
            width: 100%;
        }
        .login__container_form{
            width: 100%;
        }
        .registration__container_form{
            margin-top: 25px;
            width: 100%;
        }
}
@media only screen and (max-width: 376px){
    .login_registration_mainwrapper {
        width: 90%;
        margin: 0 auto;
    }
}


