/**********main container***********/
.content__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  background-color: #fff;
}
/***************Контейнера*******************/
.content_wrapper_4elements {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content_wrapper_2elements {
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.advertisement__block {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 45px;
  height: 150px;
}
.advertisement__img {
  margin: 0 auto;
  width: calc(100% - 54%);
  height: 100%;
  background-color: aquamarine;
}
.advertisement__img img {
  width: 100%;
}
/************************************/
/************************************/
/************************************/
.content_wrapper_2elements-buisness {
  flex-direction: column;
}
.content_wrapper_2elements-buisness2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.four__block_buisness__name {
  display: flex;
  align-items: center;
}
.four__block_buisness__name-img {
}
.four__block_buisness__name-p {
  margin-left: 10px;
  font-size: 23px;
  font-weight: 500;
}

.sell_find_buisness_button {
  width: 100%;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}
.sell_find_buisness_button a {
  background-color: #ffde5a;
  font-size: 20px;
  padding: 8px 35px;
  color: rgb(8, 21, 52);
  border-radius: 25px;
}
/***********************************/
/***********************************/
/***********************************/
.advertisement__block2 {
  margin-top: 45px;
  width: 100%;
}
.advertisement__img2 {
  width: 80%;
  height: 31.25em;
  margin: 0 auto;

  overflow: hidden;
}
.advertisement__img2-img {
  width: 100%;
}

/***********************************/
.custom-selectfilter {
  position: relative;
  font-family: Arial;
  border-radius: 30px;
  width: 26%;
  height: 100%;
  border: 2px solid #47a8e5;
}

.custom-selectfilter select {
  display: none; /*hide original SELECT element:*/
  border-radius: 30px;
  border: 2px solid #47a8e5;
}

.select-selectedfilter {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  color: #081534;
  background-color: #fff;
  border: 2px solid #47a8e5;
}

/*style the arrow inside the select element:*/
.select-selectedfilter:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #081534 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selectedfilter.select-arrow-activefilter:after {
  border-color: transparent transparent #081534 transparent;
  top: 13px;
}

/*style the items (options), including the selected item:*/
.select-itemsfilter div,
.select-selectedfilter {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-itemsfilter {
  position: absolute;
  background-color: #fff;
  color: #081534;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  font-size: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
}

/*hide the items when the select box is closed:*/
.select-hidefilter {
  display: none;
}

.select-itemsfilter div:hover,
.same-as-selectedfilter {
  background-color: rgba(0, 0, 0, 0.1);
}

/********************/
.filter__wrapper {
    width: 80%;
    margin: 0 auto;
    color: #081534;
}
.filter__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filter__desc {
    font-size: 18px;
}
.filter__element {
    padding: 8px 19px 8px 19px;
    background-color: #e4e4e4;
    font-size: 18px;
    border-radius: 25px;height: 100%;
}
.custom-selectfilter {
    font-size: 18px;
}
@media only screen and (max-width: 1620px) {
  .element_image {
    height: 17em;
  }
  .elelement__block {
    margin-top: 55px;
    height: calc(32.75em - 5%);
    width: 48%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1450px) {
  .elelement__block {
    margin-top: 55px;
    height: calc(32.75em - 9%);
    width: 48%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 35px;
  }
  .elelement__block a {
    color: rgb(8, 21, 52);
    height: 100%;
  }
  .element_wrapper {
    height: 90%;
    width: 100%;
  }
  .element_image {
    height: calc(19.625em - 7%);
    overflow: hidden;
  }
  .element_image-img {
    width: 100%;
  }
  .element__bookmark {
  }
  .element__content {
    height: calc(13.1em - 3.5%);
    width: 100%;
  }
  .element__content_wrapper {
    width: 100%;
    height: 100%;

    padding: 12px 15px 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .element__price_additional_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .element_type_price {
  }
  .element__price {
    font-size: 24px;
    font-weight: 600;
  }
  .element__type {
    padding-top: 5px;
    font-size: 20px;
    color: rgb(80, 89, 111);
  }
  .element__date {
    padding-top: 4px;
    font-size: 15px;
    color: rgb(193, 193, 193);
  }
  /************************************/
  /************************************/
  /************************************/
  .content_wrapper_2elements-buisness2 .elelement__block {
    margin-top: 15px;
  }
  .content_wrapper_2elements-buisness {
    height: 100%;
  }
  .sell_find_buisness_button {
    margin-top: 70px;
  }




  .filter__wrapper {
    font-size: 16px;
  }
  .filter__container {
  }
  .filter__desc {
  }
  .filter__element {
    font-size: 16px;
    padding: 6px 14px 6px 14px;
  }
  .custom-selectfilter {
    width: 23%;
  }
  .select-itemsfilter div, .select-selectedfilter{
    font-size: 16px;
  }
  .select-selectedfilter.select-arrow-activefilter:after{
    top: 7px;
  }
}
@media only screen and (max-width: 1368px) {
  .elelement__block {
    margin-top: 45px;
    height: calc(32.75em - 14%);
    width: 48%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 35px;
  }
  .elelement__block a {
    color: rgb(8, 21, 52);
    height: 100%;
  }
  .element_wrapper {
    height: 90%;
    width: 100%;
  }
  .element_image {
    height: calc(19.625em - 14%);
    overflow: hidden;
  }
  .element_image-img {
    width: 100%;
  }
  .element__bookmark {
  }
  .element__content {
    height: calc(13.1em - 5.5%);
    width: 100%;
  }
  .element__content_wrapper {
    width: 100%;
    height: 100%;

    padding: 12px 15px 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .element__price_additional_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .element_type_price {
  }
  .element__price {
    font-size: 24px;
    font-weight: 600;
  }
  .element__type {
    padding-top: 5px;
    font-size: 20px;
    color: rgb(80, 89, 111);
  }
  .element__date {
    padding-top: 4px;
    font-size: 15px;
    color: rgb(193, 193, 193);
  }
}
@media only screen and (max-width: 1285px) {
}
@media only screen and (max-width: 769px) {
  .content__wrapper {
    width: 95%;
  }
  .elelement__block {
    margin-top: 25px;
    height: calc(32.75em - 15%);
    width: 48%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 25px;
  }
  .elelement__block a {
    color: rgb(8, 21, 52);
    height: 100%;
  }
  .element_wrapper {
    height: 90%;
    width: 100%;
  }
  .element_image {
    height: calc(15.625em - 40%);
    overflow: hidden;
  }
  .element_image-img {
    width: 100%;
  }
  .element__bookmark {
  }
  .element__content {
    height: calc(13.1em - 3.5%);
    width: 100%;
  }
  .element__content_wrapper {
    width: 100%;
    height: 100%;

    padding: 12px 15px 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .element__price_additional_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .element_type_price {
  }
  .element__price {
    font-size: calc(24px - 40%);
    font-weight: 600;
  }
  .element__type {
    padding-top: 5px;
    font-size: calc(20px - 40%);
    color: rgb(80, 89, 111);
  }
  .element__date {
    padding-top: 4px;
    font-size: calc(15px - 40%);
    color: rgb(193, 193, 193);
  }
  .verified_top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .verified_img {
    width: 18px;
    height: 18px;
    margin-left: 21px;
  }
  .verified_img img {
    width: 100%;
  }
  .verified_img img {
  }
  .top_img- img {
    width: 50%;
  }
  .percentage__income {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    color: rgb(8, 21, 52);
    font-size: calc(20px - 40%);
    font-weight: 500;
    margin-top: 8px;
  }
  .percentage_block {
    width: 40%;
    border-right: 2px solid rgb(71, 168, 229);
    font-size: 15px;
  }
  .percentage_block_type {
    font-size: 13px;
  }
  .percentage_block_percent {
    padding-top: 5px;
  }
  .month_income {
    width: 52%;
    text-align: center;
  }
  .month_income_desc {
  }
  .month_income_price {
    padding-top: 5px;
  }
  /************************************/
  /************************************/
  /************************************/

  .content__wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
  }
  /***************Контейнера*******************/
  .content_wrapper_4elements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
  .content_wrapper_2elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .content_wrapper_2elements-buisness {
    flex-direction: column;
  }
  .content_wrapper_2elements-buisness2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .sell_find_buisness_button {
    margin-top: 20px;
  }
  .filter__wrapper {
    width: 95%;
  }
  .filter__container {
    display: flex;
  }
  .filter__desc {
    display: none;
    visibility: hidden;
  }
  .filter__element {
    padding: 4px 6px;
    font-size: 14px;
  }
  .custom-selectfilter {
    width: 20%;
  }
  .select-itemsfilter div, .select-selectedfilter{
    font-size: 14px;
  }
  .select-selectedfilter.select-arrow-activefilter:after{
    top: 7px;
  }
  .select-itemsfilter div, .select-selectedfilter{
    padding: 3px 10px;
  }
  .select-selectedfilter:after{
    top: 10px;
    right: 5px;
  }
  .select-selectedfilter.select-arrow-activefilter:after{
    top: 1px;
  }
}
@media only screen and(max-width: 376px) {
  /**********main container***********/

  .elelement__block {
    margin-top: 25px;
    height: calc(32.75em - 15%);
    width: calc(22.5em - 85%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 25px;
  }
  .elelement__block a {
    color: rgb(8, 21, 52);
    height: 100%;
  }
  .element_wrapper {
    height: 90%;
    width: 100%;
  }
  .element_image {
    height: calc(19.625em - 40%);
    overflow: hidden;
  }
  .element_image-img {
    width: 100%;
  }
  .element__bookmark {
  }
  .element__content {
    height: calc(13.1em - 3.5%);
    width: 100%;
  }
  .element__content_wrapper {
    width: 100%;
    height: 100%;

    padding: 8px 10px 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .element__price_additional_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .element_type_price {
  }
  .element__price {
    font-size: calc(24px - 40%);
    font-weight: 600;
  }
  .element__type {
    padding-top: 5px;
    font-size: calc(20px - 40%);
    color: rgb(80, 89, 111);
  }
  .element__date {
    padding-top: 4px;
    font-size: calc(15px - 40%);
    color: rgb(193, 193, 193);
  }
  .verified_top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .verified_img img {
    width: 70%;
  }
  .top_img- img {
    width: 70%;
  }
  .percentage__income {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    color: rgb(8, 21, 52);
    font-size: calc(20px - 40%);
    font-weight: 500;
    margin-top: 8px;
  }
  .percentage_block {
    width: 40%;
    border-right: 2px solid rgb(71, 168, 229);
  }
  .percentage_block_type {
  }
  .percentage_block_percent {
    padding-top: 5px;
  }
  .month_income {
    width: 48%;
    text-align: center;
  }
  .month_income_desc {
  }
  .month_income_price {
    padding-top: 5px;
  }
  /************************************/
  /************************************/
  /************************************/

  .content__wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
  }
  /***************Контейнера*******************/
  .content_wrapper_4elements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
  .content_wrapper_2elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .content_wrapper_2elements-buisness {
    flex-direction: column;
  }
  .content_wrapper_2elements-buisness2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media only screen and(max-width: 355px) {
  .month_income_price {
    font-size: 7px;
  }
  .element__content_wrapper {
    width: 100%;
    height: 100%;

    padding: 3px 5px 9px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
