.page__wrapper {
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: rgb(8, 21, 52);
    margin-bottom: 125px;
    height: 100%;

}
.page__desc {

    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}
.page_desc-p {
    font-size: 27px;
    font-weight: 500;
    color: rgb(8, 21, 52);
}
.page_desc-p a {
    color: rgb(8, 21, 52);
}
.page__content_container {

    height: 650px;

}
.page__content_wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}
.page_content_block {
    height: 100%;
    width: 48%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page_content_block-text {
    margin-bottom: 20px;
    line-height: 28px;
    flex: 0 0 45%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.page_content_block-text p {
    display: block;
}
.page_content_block-image {


    border-radius: 18px;
    overflow: hidden;
    flex: 0 0 50%;
}
.page_content_block-image-img {
    width: 100%;
}
.page__content_button {
    width: 100%;

    text-align: center;
    margin-top: 35px;

}
.page__content_button-a {
    color: white;
    background-color: #09CA57;
    font-size: 25px;
    padding: 15px 35px; 
    border-radius: 35px;
}