/**********main container***********/
.content__wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    background-color: #fff;
}
/***************Контейнера*******************/
.content_wrapper_4elements {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.content_wrapper_2elements {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

/**********Блок элемента на странице*************/
/**********Блок элемента на странице*************/
/**********Блок элемента на странице*************/

.elelement__block {

    margin-top: 45px;
    height: 32.75em;
    width: 22.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
    overflow: hidden;

}
.elelement__block a {
    color: rgb(8, 21, 52);
    height: 100%;
}
.element_wrapper {
    height: 100%;
    width: 100%;
    position: relative;

}
.element_image {
    height: 19.625em;
    overflow: hidden;
}
.element_image-img {
    width: 100%;
}
.element__bookmark {
}
.element__content {

    height: 13.1em;
    width: 100%;
}
.element__content_wrapper {
    width: 100%;
    height: 100%;

    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.element__price_additional_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.element_type_price {

}
.element__price {
    font-size: 24px;
    font-weight: 600;
}
.element__type {
    padding-top: 5px;
    font-size: 20px;
    color: rgb(80, 89, 111);
}
.element__date {
    padding-top: 4px;
    font-size: 15px;
    color: rgb(193, 193, 193);
}
.verified_top {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.verified_img {
}
.top_img- {
}
.percentage__income {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    color: rgb(8, 21, 52);
    font-size: 20px;
    font-weight: 500;
}
.percentage_block {
    width: 40%;
    border-right: 2px solid rgb(71, 168, 229);
}
.percentage_block_type {

}
.percentage_block_percent {
    padding-top: 5px;
}
.month_income {
    width: 48%;
    text-align: center;
}
.month_income_desc {
}
.month_income_price {
    padding-top: 5px;
}
/***********************************/
/***********************************/
/***********************************/
.advertisement__block{

    width: 100%;
    margin-top: 60px;
    margin-bottom: 45px;
}
.advertisement__img {
    margin: 0 auto;
    width: calc(100% - 54%);

    text-align: center;
    background-color: brown;
}
.advertisement__img-img {
    width: 100%;
}
/************************************/
/************************************/
/************************************/
.content_wrapper_2elements-buisness{
    flex-direction: column;

}
.content_wrapper_2elements-buisness2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;


}

.four__block_buisness__name {

    display: flex;
    align-items: center;
}
.four__block_buisness__name-img {
}
.four__block_buisness__name-p {
    margin-left: 10px;
    font-size: 23px;
    font-weight: 500;
}

.sell_find_buisness_button{
    width: 100%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.sell_find_buisness_button a{
    background-color: #FFDE5A;
    font-size: 20px;
    padding: 8px 35px;
    color: rgb(8, 21, 52);
    border-radius: 25px;
}
/***********************************/
/***********************************/
/***********************************/
.advertisement__block2{
    margin-top: 45px;
    width: 100%;

}
.advertisement__img2 {
    width: 80%;
    height: 31.25em ;
    margin: 0 auto;

    overflow: hidden;
}
.advertisement__img2-img {
    width: 100%;
}
@media only screen and (max-width: 1450px) {
    .elelement__block {

        margin-top: 45px;
        height: calc(32.75em - 7%);
        width: calc(22.5em - 10%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 18px;
        overflow: hidden;
        margin-bottom: 35px;
    
    }
    .elelement__block a {
        color: rgb(8, 21, 52);
        height: 100%;
    }
    .element_wrapper {
        height: 90%;
        width: 100%;

    
    }
    .element_image {
        height: calc(19.625em - 7%);
        overflow: hidden;
    }
    .element_image-img {
        width: 100%;
    }
    .element__bookmark {
    }
    .element__content {
    
        height: calc(13.1em - 3.5%);
        width: 100%;
    }
    .element__content_wrapper {
        width: 100%;
        height: 100%;
    
        padding: 12px 15px 12px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .element__price_additional_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .element_type_price {
    
    }
    .element__price {
        font-size: 24px;
        font-weight: 600;
    }
    .element__type {
        padding-top: 5px;
        font-size: 20px;
        color: rgb(80, 89, 111);
    }
    .element__date {
        padding-top: 4px;
        font-size: 15px;
        color: rgb(193, 193, 193);
    }
    /************************************/
/************************************/
/************************************/

}
@media only screen and (max-width: 1368px){
    .elelement__block {

        margin-top: 45px;
        height: calc(32.75em - 14%);
        width: 48%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 18px;
        overflow: hidden;
        margin-bottom: 35px;
    
    }
    .elelement__block a {
        color: rgb(8, 21, 52);
        height: 100%;
    }
    .element_wrapper {
        height: 90%;
        width: 100%;

    
    }
    .element_image {
        height: calc(19.625em - 14%);
        overflow: hidden;
    }
    .element_image-img {
        width: 100%;
    }
    .element__bookmark {
    }
    .element__content {
    
        height: calc(13.1em - 5.5%);
        width: 100%;
    }
    .element__content_wrapper {
        width: 100%;
        height: 100%;
    
        padding: 12px 15px 12px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .element__price_additional_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .element_type_price {
    
    }
    .element__price {
        font-size: 24px;
        font-weight: 600;
    }
    .element__type {
        padding-top: 5px;
        font-size: 20px;
        color: rgb(80, 89, 111);
    }
    .element__date {
        padding-top: 4px;
        font-size: 15px;
        color: rgb(193, 193, 193);
    }
}
@media only screen and (max-width: 1285px){}
@media only screen and (max-width: 429px) {
    .elelement__block {

        margin-top: 25px;
        height: calc(32.75em - 15%);
        width: 48%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 18px;
        overflow: hidden;
        margin-bottom: 25px;
    
    }
    .elelement__block a {
        color: rgb(8, 21, 52);
        height: 100%;
    }
    .element_wrapper {
        height: 90%;
        width: 100%;

    
    }
    .element_image {
        height: calc(19.625em - 40%);
        overflow: hidden;
    }
    .element_image-img {
        width: 100%;
    }
    .element__bookmark {
    }
    .element__content {
    
        height: calc(13.1em - 3.5%);
        width: 100%;
    }
    .element__content_wrapper {
        width: 100%;
        height: 100%;
    
        padding: 12px 15px 12px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .element__price_additional_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .element_type_price {
    
    }
    .element__price {
        font-size: calc(24px - 40%);
        font-weight: 600;
    }
    .element__type {
        padding-top: 5px;
        font-size: calc(20px - 40%);
        color: rgb(80, 89, 111);
    }
    .element__date {
        padding-top: 4px;
        font-size: calc(15px - 40%);
        color: rgb(193, 193, 193);
    }
    .verified_top {
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
    .verified_img img {
        width: 70%;
    }
    .top_img- img {
        width: 70%;
    }
    .percentage__income {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        color: rgb(8, 21, 52);
        font-size: calc(20px - 40%);
        font-weight: 500;
        margin-top: 8px;
    }
    .percentage_block {
        width: 40%;
        border-right: 2px solid rgb(71, 168, 229);
    }
    .percentage_block_type {
    
    }
    .percentage_block_percent {
        padding-top: 5px;
    }
    .month_income {
        width: 48%;
        text-align: center;
    }
    .month_income_desc {
    }
    .month_income_price {
        padding-top: 5px;
    }
    /************************************/
/************************************/
/************************************/

    .content__wrapper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
        background-color: #fff;
    }
    /***************Контейнера*******************/
    .content_wrapper_4elements {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
    .content_wrapper_2elements {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

    }
    .content_wrapper_2elements-buisness{
        flex-direction: column;
    
    }
    .content_wrapper_2elements-buisness2{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    
    
    }
}

@media only screen and(max-width: 376px){
    /**********main container***********/

    .elelement__block {

        margin-top: 25px;
        height: calc(32.75em - 15%);
        width: calc(22.5em - 85%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 18px;
        overflow: hidden;
        margin-bottom: 25px;
    
    }
    .elelement__block a {
        color: rgb(8, 21, 52);
        height: 100%;
    }
    .element_wrapper {
        height: 90%;
        width: 100%;

    
    }
    .element_image {
        height: calc(19.625em - 40%);
        overflow: hidden;
    }
    .element_image-img {
        width: 100%;
    }
    .element__bookmark {
    }
    .element__content {
    
        height: calc(13.1em - 3.5%);
        width: 100%;
    }
    .element__content_wrapper {
        width: 100%;
        height: 100%;
    
        padding: 12px 15px 12px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .element__price_additional_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .element_type_price {
    
    }
    .element__price {
        font-size: calc(24px - 40%);
        font-weight: 600;
    }
    .element__type {
        padding-top: 5px;
        font-size: calc(20px - 40%);
        color: rgb(80, 89, 111);
    }
    .element__date {
        padding-top: 4px;
        font-size: calc(15px - 40%);
        color: rgb(193, 193, 193);
    }
    .verified_top {
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
    .verified_img img {
        width: 70%;
    }
    .top_img- img {
        width: 70%;
    }
    .percentage__income {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        color: rgb(8, 21, 52);
        font-size: calc(20px - 40%);
        font-weight: 500;
        margin-top: 8px;
    }
    .percentage_block {
        width: 40%;
        border-right: 2px solid rgb(71, 168, 229);
    }
    .percentage_block_type {
    
    }
    .percentage_block_percent {
        padding-top: 5px;
    }
    .month_income {
        width: 48%;
        text-align: center;
    }
    .month_income_desc {
    }
    .month_income_price {
        padding-top: 5px;
    }
    /************************************/
/************************************/
/************************************/

.content__wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}
/***************Контейнера*******************/
.content_wrapper_4elements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.content_wrapper_2elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.content_wrapper_2elements-buisness{
    flex-direction: column;

}
.content_wrapper_2elements-buisness2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;


}
}