.content__wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    background-color: #fff;
}

.elelement__block {

    margin-top: 45px;
    height: 32.75em;
    width: 22.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
    overflow: hidden;

}
.elelement__block a {
    color: rgb(8, 21, 52);
    height: 100%;
}
.element_wrapper {
    height: 100%;
    width: 100%;
    position: relative;

}
.element_image {
    height: 19.625em;
    overflow: hidden;
}
.element_image-img {
    width: 100%;
}
.element__bookmark {
}
.element__content {

    height: 13.1em;
    width: 100%;
}
.element__content_wrapper {
    width: 100%;
    height: 100%;

    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.element__price_additional_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.element_type_price {

}
.element__price {
    font-size: 24px;
    font-weight: 600;
}
.element__type {
    padding-top: 5px;
    font-size: 20px;
    color: rgb(80, 89, 111);
}
.element__date {
    padding-top: 4px;
    font-size: 15px;
    color: rgb(193, 193, 193);
}
.verified_top {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.verified_img {
}
.top_img- {
}
.percentage__income {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    color: rgb(8, 21, 52);
    font-size: 20px;
    font-weight: 500;
}
.percentage_block {
    width: 40%;
    border-right: 2px solid rgb(71, 168, 229);
}
.percentage_block_type {

}
.percentage_block_percent {
    padding-top: 5px;
}
.month_income {
    width: 48%;
    text-align: center;
}
.month_income_desc {
}
.month_income_price {
    padding-top: 5px;
}
/***********************************/
/***********************************/
/***********************************/
.advertisement__block{

    width: 100%;
    margin-top: 60px;
}
.advertisement__img {
    margin: 0 auto;
    width: calc(100% - 54%);

    text-align: center;
    background-color: brown;
}
.advertisement__img-img {
    width: 100%;
}
/************************************/
/************************************/
/************************************/
.four__block__buisness {
    width: 80%;
margin: 0 auto;
margin-top: 45px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
background-color: #fff;
color: rgb(8, 21, 52);
}
.four__block_buisness__name {

    display: flex;
    align-items: center;
}
.four__block_buisness__name-img {
}
.four__block_buisness__name-p {
    margin-left: 10px;
    font-size: 23px;
    font-weight: 500;
}
.four__block_buisness_block {
    display: flex;
    flex-direction: column;
    width: 47.1%;

    flex-wrap: wrap;
    
}
.four__block_buisness_wrapper{
    display: flex;
    justify-content: space-between;
}
.sell_find_buisness_button{
    width: 100%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.sell_find_buisness_button a{
    background-color: #FFDE5A;
    font-size: 20px;
    padding: 8px 35px;
    color: rgb(8, 21, 52);
    border-radius: 25px;
}
/***********************************/
/***********************************/
/***********************************/
.advertisement__block2{
    margin-top: 45px;
    width: 100%;

}
.advertisement__img2 {
    width: 80%;
    height: 31.25em ;
    margin: 0 auto;

    overflow: hidden;
}
.advertisement__img2-img {
    width: 100%;
}

@media only screen and (max-width: 429px) {
    .four__block_buisness {
        flex-direction: column;

     }
     .four__block_buisness_block{
        flex-direction: column;
        width: 100%;
     }
     .four__block_buisness_wrapper{
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
     }
     .advertisement__block2{

     }
     .sell_find_buisness_button{
        width: 100%;
     }
}