.textpage__wrapper {
    width: 80%;
    margin: 0 auto;
}
.textpage__name_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textpage_name_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textpage__name {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: rgba(8, 21, 52, 1);
}
.textpage__border {
    margin-top: 10px;
    height: 3px;
    background-color: #47A8e5;
    width: 72px;
    border-radius: 2px;
}

.textpage__content__container{
    width: 100%;
    margin-top: 40px;
    display: block;

}
.textpage__content__container p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 39px;
    float: none;
}
.textpage__content__container img{
    max-width: 500px;
    display: block;
    margin: 0 auto;
    padding-right: 25px; 
}

@media only screen and (max-width: 768px){
    .textpage__wrapper{
        width: 90%;
    }
}