.change__password_wrapperr {
    color: #081534;
    width: 80%;
    margin: 0 auto;

}
.change__password__text {
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.change__password__content{
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.change__password__container {
    width: 48%;
}
.change__password__desc {
}
.change__password_desc_text {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 17px;
    line-height: 29px;
}
.change__password_desc_text span{
    display: block;
    margin-top: 25px;
    font-weight: 500;
    font-size: 20px;
    color: #47a8e5;
}
.change__password__form {
    width: 48%;
}
.change__password__captcha_container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center
}
.change__password__capthca{
    margin-top: 25px;
    width: 50%;
    height: 100px;
    background-color: green;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
}
@media only screen and (max-device-width: 1368px){
    .change__password_desc_text {
        padding-top: 35px;
        padding-bottom: 35px;
        font-size: 17px;
        line-height: 29px;
        text-align: justify;
    }
    .change__password__capthca{
        margin-top: 25px;
        width: 70%;
        height: 90px;
        background-color: green;
        border-radius: 5px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 22px;
    }
}
@media only screen and (max-device-width: 770px){
    .change__password_wrapperr{
        width: 90%;
    }
    .change__password__content{
        flex-direction: column;
    }
    .change__password__container{
        width: 100%;
    }
    .change__password__form{
        width: 100%;
    }
    .change__password_desc_text{
        padding-top: 0px;
    }
}
@media only screen and (max-device-width: 455px){
    
    .change__password_desc_text{
        text-align: initial;
    }
    .change__password_wrapperr{
        width: 95%;
    }
    .change__password__content{
        padding: 8px;
    }
    .change__password__capthca{
        margin-top: 25px;
        width: 100%;
        height: 100px;
        background-color: green;
        border-radius: 5px;
    
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 22px;
    }
}
