.change__password__content{
    width:fit-content;
    flex-direction: column;
    
}
.change__password__container{
    width:100%;
}
.change__password__form{
    width:100%;
}
.change__password_desc_text{
    padding-top: 0px;
}
.log_reg_element_wraper_input{
    width:60%;
}
@media only screen and (max-device-width: 770px){
    .log_reg_element_wraper_input{
        width:100%;
    }
}