.header__wrapper {
    width: 80%;

    margin: 0 auto;

}
.header_container_form {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;


    max-height: 40px;

}
.header__logo{

    height: 50px;
    width: 170px;
}
.header__logo img{
    max-height: 50px
}
.header__form {
    display: flex;

    width: 50%;

    justify-content: end;
    align-items: center;
}
.header__add_buisness{
    height: 40px;
    display: flex;
    margin-right: 20px;
}
.header__add_buisness img {
    margin-right: 8px;

}
.header__add_buisness a{
    display: flex;
}
.header__add_buisness p {
    display: flex;
    background-color: #09CA57;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    color: white; 
}

.header__form_registration {
    height: 40px;
}
.header__form_registration a {
    display: flex;
    background-color: #47a8e5;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    color: #fff; 
}
.header__form_login {
    height: 40px;
    margin-right: 20px;
}
.header__form_login  a {
    display: flex;
    background-color: #47a8e5;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    color: #fff; 
}
.header__form_language {
}





.header_container_nav {
    width: 100%;
    height: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
}
.header_nav_wrap {
    display: flex;
}
.header_nav_element {
    display: flex;
    align-items: center;
}
.header_nav_element{
    margin-right: 25px;
}
.header_nav_element img{
    margin-right: 5px;
    margin-bottom: 9px;
}
.header_nav_element a{
    color: #081534;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: ease-in-out 0.1s;
}
.header_nav_element a:hover {
    border-bottom: 2px solid #47a8e5;
}
.header_nav_element:first-child{

}
@media only screen and (max-width: 429px){
    .header__wrapper {
    }
    .header_container_form {
    }
    .header__logo {
    }
    .header__form {
        display: none;
    }
    .header__add_buisness {
    }
    .header__form_login {
    }
    .header__form_language {
    }
    .header_container_nav {
        display: none;
        visibility: hidden;
    }
    .header_nav_wrap {
    }
    .header_nav_element {
    }
}