.search__wrapper {
    margin: 0 auto;
    width: 93%;
    height: 66.3vh;
    position: relative;
    background-image: url('../style/imgs/main_background.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

.search_container{
    background-color: #fff;
    width: 75%;
    margin-left: 7%;
    padding: 26px;
    position: absolute;
    top: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 40%;
    border-radius: 25px;

}

.search_name_desc {
    font-size: 23px;
    color: #081534;
}
.searc_form {
    width: 100%;
    height: 100%;
    padding-bottom: 26px;
}
.search_block_wrapper {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.search__block_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #e3e3e3;
}
.search__block_block {
    display: flex;
    justify-content: space-between;
    width: 30%;
    background-color: burlywood;


}
.serach__block__almaq {
    border: 2px solid #47A8E5;
    border-radius: 30px;
    padding: 8px 15px 8px 15px;
    font-size: 21px;
    color: #081534;
    width: 35%;
    text-align: center;

}
.serach__block__category {
    border: 2px solid #47A8E5;
    border-radius: 30px;
    padding: 8px 15px 8px 15px;
    font-size: 21px;
    color: #081534;
    width: 56%;
    text-align: center;

}
.search__block_block2 {
    width: 68%;
    background-color: chocolate;
    border: 1px solid #47A8E5;
}



.serach__block__buy {
}
.search__block_block2-2 {
}
.serach__block__price {
}
.serach__block__status {
}
.search__block__map_button {
}
.search__block__additional {
}
.search__block__additional_element {
}
.search__block__map {
}
.search__block__button {
}

@media only screen and (max-width: 767px){
    .search__wrapper{
        padding-top: 250px;
    }
}